                       Assignment - 2

Question.1 - How do you comment code in Python? What are the different types of comments?

There are two types of comment in the python :-

(1). Single-Line comments

(2). Multi-Lines comments

Single-Line comments -

Single-line comments are used to comment on a single line of code. In Python, you can use the '#' symbol to indicate the start of a single-line comment.

In [9]:
# My name is Sudhakar Verma

Multi-Line comment -

Multi-line comments are often used for documentation, especially for functions, classes, and modules. Python uses triple-quotes (''' or """) to create multi-line comments, known as docstrings. Docstrings are used to provide more detailed information about the purpose, usage, and parameters of functions, classes, or modules.

In [10]:
c = """ My name is Sudhakar Vema
I am currently doing MTech from IIT Guwahati
I am from Lucknow,Uttar Pradesh"""

In [11]:
c

' My name is Sudhakar Vema\nI am currently doing MTech from IIT Guwahati\nI am from Lucknow,Uttar Pradesh'

Question.2- What are variables in Python? How do you declare and assign values to variables?

In Python, a variable is a name that you can use to store data. Variables allow you to store and manipulate values or objects within your code.

To declare and assign values to variables in Python, you typically follow this format:

In [12]:
variable_name = "Sudhakar Verma"

Example-

In [15]:
l = [5,8,96,"sudhakar",True,65.235]
l=l[::-1] #assign to reverse the list

In [16]:
l

[65.235, True, 'sudhakar', 96, 8, 5]

Question.3- How do you convert one data type to another in Python ?

In Python, you can convert one data type to another using type casting or type conversion. Python provides several built-in functions and techniques for this purpose. Here are some common methods for converting data types:

1. Implicit Type Conversion (Coercion):- Python can automatically perform type conversion in some cases, such as during arithmetic operations

In [1]:
x = 5        # int
y = 3.5      # float

result = x + y  # x is implicitly converted to float before addition

In [2]:
result

8.5

2. Explicit Type Conversion (Type Casting):- You can explicitly convert one data type to another using built-in functions. Here are some commonly used functions for explicit type casting:

int()-Convert to value in an integer

In [3]:
float_num = 45.23
int_num = int(float_num)

In [4]:
int_num

45

float(): Converts a value to a floating-point number.

In [5]:
int_num = 69
float_num = float(int_num)

In [6]:
float_num

69.0

str(): Converts a value to a string.

In [7]:
num = 78
str_num = str(num)

In [8]:
str_num

'78'

list(): Converts an iterable (e.g., a tuple, string) to a list.

In [9]:
tuple_value = (1,2,5,3,6,4,8,9,7)
list_value = list(tuple_value)

In [10]:
list_value

[1, 2, 5, 3, 6, 4, 8, 9, 7]

tuple(): Converts a list or other iterable to a tuple.

In [11]:
list_value = [2,5,6,8,9,7,4,3,2,1]
tuple_value = tuple(list_value)

In [12]:
tuple_value

(2, 5, 6, 8, 9, 7, 4, 3, 2, 1)

set(): Converts a list or other iterable to a set, removing duplicate values.

In [13]:
list_value = [2,5,9,8,7,6,3,1]
set_value = set(list_value)

In [14]:
set_value

{1, 2, 3, 5, 6, 7, 8, 9}

dict(): Converts a list of key-value pairs (as tuples) to a dictionary.

In [15]:
key_value_pairs = [("a", 1), ("b", 2), ("c", 3)]
dictionary = dict(key_value_pairs)

In [16]:
dictionary

{'a': 1, 'b': 2, 'c': 3}

Question.4 . How do you write and execute a Python script from the command line?

Writing a Python Script

(a) . Open a Text Editor:- You can use any text editor of your choice to write your Python script. Popular choices include Notepad (on Windows), TextEdit (on macOS), and editors like Visual Studio Code, Sublime Text, or Atom. Create a new file with a .py extension, which is the standard extension for Python scripts. For example, you can name it myscript.py.

(b). Write Your Python Code:- Open the newly created .py file and write your Python code in it. Here's an example of a simple Python script:

In [17]:
print("Hello, World!")

Hello, World!

(c). Save the File: After writing your code, save the file.

Executing the Python Script

(a). Open the Command Line or Terminal :- Now, open your command line or terminal application. The method for opening the command line varies depending on your operating system

(b). Navigate to the Script's Directory :- You need to navigate to the directory where your Python script is saved.

(c). Execute the Python Script

(d). View the output

Question. 5 - . Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [22]:
my_list = [1, 2, 3, 4, 5]
sub_list = my_list[1:3]

In [23]:
sub_list

[2, 3]

Quedtion.6 -  What is a complex number in mathematics, and how is it represented in Python?

In mathematics, a complex number is a number that can be expressed in the form "a + bi," where "a" and "b" are real numbers, and "i" is the imaginary unit, defined as the square root of -1. Complex numbers are used to represent quantities involving both a real part (a) and an imaginary part (bi).

In Python, you can represent complex numbers using the complex data type. Complex numbers are written with a real part followed by an optional imaginary part, separated by the character "j" to denote the imaginary unit. Here's how you can create a complex number in Python:

In [24]:
a = 5+7j

In [26]:
a.real

5.0

In [27]:
a.imag

7.0

 Question. 7-  What is the correct way to declare a variable named age and assign the value 25 to it ?

Python is a dynamically typed language, so you don't need to specify the data type when declaring variables. The variable age will automatically be assigned the appropriate data type based on the value you assign to it, in this case, an integer.

In [34]:
age = 25

In Python, you can declare a variable named age and assign the value 25 to it using the following code:

In [35]:
l=[2,5,9,8,7,"sudhakar",True,55.5,"age"]

In [36]:
l[-1]=25

In [37]:
l

[2, 5, 9, 8, 7, 'sudhakar', True, 55.5, 25]

Question.8-  Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [39]:
price = 9.99

The variable price is assigned the value 9.99. In Python, this variable belongs to the data type "float." The data type float represents decimal numbers (numbers with a fractional part), and it is commonly used for values with decimal points like 9.99.

Question.9- . Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [40]:
name = "sudhakar verma"
print(name)

sudhakar verma

Question.10- . Given the string "Hello, World!", extract the substring "World".

In [41]:
text = "Hello, World!"
substring = text[7:12]
print(substring)

World

Question.11- . Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [42]:
is_student = True  # If you are a student
# or
is_student = False  # If you are not a student